.header {
    margin: 0 auto;
    max-width: 90%;
}

    .header img {
        margin: 1em 0 0; 
    }

.main {
    max-width: 80%;
    margin: 0 auto 1.5em; 
}

    .robot-btn {

        position: fixed;

        bottom: 0;
        right: 0;

        margin: 1.2em;

        background-color: orange;

        padding: .5em;
        border-radius: 5px;
    }
    
    .main-title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin: 0 1em;
    }

    .main-subtitle {
        font-weight: bold;
        margin: 0 0 .5em .3em;
    }

    p {
        line-height: 1.3;
        margin: 1em 0;
    }

    ul {margin-bottom: 1em;}

