body{
    background-color: #EEE;
}

.header {
    margin: 0 auto;
    max-width: 90%;
}

    .header img {
        margin: 1em 0 0; 
    }

.main {
    max-width: 80%;
    margin: 0 auto 1.5em; 
}


    .robot-btn {

        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 -2em;
        animation: shadow-pulse 3s infinite;
    }
        .robot-btn img {
            max-width: 70%;
        }

    @keyframes shadow-pulse
        {
           from { transform: scale(1); }
           50% { transform: scale(0.85); }
           to { transform: scale(1); }
       }

    .main-title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin: 0 1em;
    }

    .main-subtitle {
        font-weight: bold;
        margin: 0 0 .5em .3em;
    }

    p {
        text-align: justify;
        line-height: 1.3;
        margin: 1em 0;
    }

    ul {margin-bottom: 1em;}

    .top-go {
        display: block;
        
        text-align: center;
        opacity: 0.4;

        max-width: 50%;
        margin: .5em auto;
        padding: .5em;
    }
