/*general*/
	@import url('https://fonts.googleapis.com/css?family=Montserrat');

	body {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.2em;
	}

	a {
		text-decoration: none;
		color: #000;
	}

	/*header*/

	.logo-img {
		text-align: center;		
	}

		.logo-img img {
			max-width: 70%;
		}

	/*footer*/

	.footer {
		text-align: center;

		border-top: 1px #3078BD solid;

		padding: 1em;
	}