/*main*/

	.nav {
		text-align: center;

		border: 1px #ff7f00 solid;
		border-radius: 4px; 

	    margin: 1em 10em;
	}

	.nav li{
		display: inline-block;

		border-radius: 4px;

		margin: .2em 1em;
	    padding: .5em 2em;
	}

	.nav li:hover {background-color: orange;}
