/*main*/

	.main-title {
	    text-align: center;
    	margin: .5em 0 1em;
	}

	.nav {
		text-align: center;

		border: 1px #ff7f00 solid;
		border-radius: 4px; 

		max-width: 90%;
	    margin: 0 auto;
	}

	.nav li{
		display: inline-block;

		border-radius: 4px;

		margin: .2em 1em;
	    padding: .5em 2em;
	}

