/*header*/

	.header {margin: .5em 0 2em;}

	.figure {text-align: center;}

/*main*/

	.main {margin: 20vh 0;}

	.main-title {
	    text-align: center;
	    max-width: 80%;
    	margin: 0 auto 1em;
	}

	.nav {
		text-align: center;

		max-width: 90%;
	    margin: 0 auto;
	}

	.nav li{
		display: inline-block;

		box-shadow: 4px 4px 20px 0 rgba(31, 106, 175,.3);

		border-radius: 4px;

		margin: 1em;
	    padding: 1em 2em;
	}
