/*header*/

	.header {
		margin: .5em 0 2em;
	}

	.figure {
		text-align: center;
	}

/*main*/

	.main-title {
	    text-align: center;
	    max-width: 80%;
    	margin: 0 auto .5em;
	}

	.nav {
		text-align: center;

		border-bottom: 1px #3078BD solid;
		border-radius: 4px; 

		max-width: 90%;
	    margin: 0 auto;
	}

	.nav li{
		display: inline-block;

		/* It's suppose to be shown just on hover ! */
		border-bottom: 1px white solid;
		border-top: 1px white solid;

		border-radius: 4px;

		margin: .2em 1em;
	    padding: .5em 2em;
	}

